html {
  overflow-x: hidden;
}
body {
  background-color: #1B1B2D;
  color: #E4E2DA;
}
h1 {
  color: crimson;
	text-align: center;
  font-family: 'Metal Mania';
}

ul {
  margin-top: 30px;
	list-style: none;
  font-size: 20px;
}
main {
	/*border: 1px dashed blue;*/
    font-family: 'de-walpergens-pica';
}
#left-container, #center-container, #right-container {
	/*border: 1px dashed green;*/
	height: 500px;
}
#right-container, #right-pic, #right-nametag, #right-bonus {
	float: right;
}
#left-nametag {
	margin-left: 10px;
}
#right-nametag {
	margin-right: 10px;
}
#left-bonus {
	margin-left: 5%;
}
#right-bonus {
	margin-right: 5%;
	text-align: right;
}
#center-container h2{
  font-family: 'Metal Mania';
  font-size: 80px;
  font-weight: ;
  color: crimson;
	text-align: center;
	margin-top: 200px;
}
button {
  font-family: 'de-walpergens-pica';
  text-align: left;
  font-size: 20px;
  text-indent: -15px;
  text-transform: -20px -20px;
  line-height: -25px;
  background-color: darkred;
  color: #fff;
	margin-top: 80px;
	border-bottom: 4px solid #4A0101;
}
button:active {
	border-bottom: 1px solid #4A0101;
}
#results {

  font-family: 'de-walpergens-pica';
  color: crimson;
	/*border: 1px dashed red;*/
	margin-top: 20px;
	height: 150px;
	text-align: center;
}
#results h2, h3, h4 {
  margin-bottom: 0px;
}
#winner-extra {

}
.right-choice {
  color: olivedrab;
}
.wrong-choice {
  color: orange;
}
#right-pic img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
img:hover {
  -moz-filter: brightness(150%);
  -webkit-filter: brightness(150%);
  filter: brightness(150%);

}
aside {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 100px;
}
aside p {
	margin: 35px 50px 0 0;
	line-height: 0px;
	text-align: right;
}
#win-tracker{
  color: seagreen;
}
#lose-tracker {
  color: crimson;
}
#chart-container {
  max-height: 100px;
  max-width: 100px;
}
#main-tracker {
	position: fixed;
	bottom: 15px;
	right: 15px;
  /*padding: 5px;*/

}
footer {
  margin-top: 100px;
  position: ;
	height: 200px;
}
footer p {
	text-align: center;
	margin-right: 115px;
	margin-top: 85px;
}
